# guarantee folder created
*
*/
!.gitignore
!/*/.gitignore
!software/.gitignore 

# ignore database
/Beatthemarket/data
!/Beatthemarket/data/.placeholder

# ignore software
/software/*
!/software/.gitignore

# ignore venv
/venv
!/venv/*.placeholder

# ignore Beatthemarket/frontend/node_modules
/Beatthemarket/frontend/node_modules
!/Beatthemarket/frontend/node_modules/.placeholder

# ignore frontend
/frontend/node_modules

