# guarantee folder created
!.gitignore

# ignore database
/Beatthemarket/data
!/Beatthemarket/data/.placeholder

# ignore software
/software
!/software/.placeholder

# ignore venv
/venv
!/venv/*.placeholder

# ignore Beatthemarket/frontend/node_modules
/Beatthemarket/frontend/node_modules
!/Beatthemarket/frontend/node_modules/.placeholder

# ignore frontend
/frontend/node_modules