# guarantee folder created
!.placeholder

# ignore database
/Beatthemarket/data
!/Beatthemarket/data/*.placeholder

# ignore software
/software
!software/*.placeholder

# ignore venv
/venv
!venv/*.placeholder